# List Excercises- Advanced

Complete the following practice excercises below to build up your skills with manipulating lists.

**Problem 1**



*   Using the list below, use a Class method to add the string "skirt" to the end of the list.

In [ ]:
clothing= ['socks', 'pants', 'shirt', 'polo']

**Problem 2**



*   Using the same list as above, add a list to the 2nd index that includes the following strings:
> 'suit jacket', 'suit pants', 'tie', 'button down'

**Problem 3**



*   Use the list below and use a Class method to get the total number of times the integer 14 appears in the list.

In [ ]:
nums= [2, 150, 14, 36, 78, 81, 14, 1000, 54, 14, 14]

**Problem 4**


*  Use the same list as above
*  Use a built-in function to find the total of all the numbers in the list.

**Problem 5**



*   Use the same list as above
*   Slice the list so that it is reversed without using the .reverse() method

**Problem 6**



*   Use the list below.
*   Slice the list so only the last two elements are included in the slice.

In [ ]:
one_to_five= [1, 2, 3, 4, 5]

**Problem 7**

*   Use the list below
*   Write a for loop so that every item in the list is printed

In [ ]:
animals= ["koala", "cat", "fox", "panda", "chipmunk", "sloth"]

**Problem 8**



* Use the list below
* Create a function that accepts a list as an argument
*   Check if the data type at each index is a list
*   If it is a list, check the length of the list. If it is greater than 3, add the second element to a new list.
*   Return the new list

In [ ]:
random_things= ['hello', ['breakfast', 'you', 'pencil', 2], 22, ['burrito', 'taco'],
                [22, 'win', 33, [5], 'laptop']]

**Problem 9**



*   Use the list below
*   Create a new list
*   Use a for loop and the append() method to append each item with a Dr. prefix to the new list.

In [ ]:
names= ['Dre', 'Seuss', 'Who', 'McCoy']

**Problem 10**



*   Use the list below
*   Use a while loop, iterate through the list and if there is an integer 100, print a message that says what index the 100 is at
*   Example: "There is a 100 at index no: 5"

In [ ]:
num2= [10, 99, 85, 76, 43, 2, 77, 100, 13, 12, 42, 99, -1, -100]

**Problem 11**




*   Use the list below
*   Create a new list
*   Use a for loop or a whole loop to iterate through the list and append all the elements in the old list, to the new list UNLESS the element is an empty string

In [ ]:
list1= ["McDonald's", "Wendy's", "", "Burger King", "", "Taco Bell"]