**Problem 1**

Import Numpy as np

**Problem 2**

Create a 1D array of numbers from 0 to 9.

**Problem 3**

Create a 3×3 numpy array of all True’s.

**Problem 4**

Extract all odd numbers from arr.

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

**Problem 5**

Replace all odd numbers in arr with -1.

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

**Problem 6**

Convert a 1D array to a 2D array with 2 rows.

In [ ]:
np.arange(10)

**Problem 7** 

Stack arrays a and b vertically.

In [ ]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

**Problem 8**

Stack the arrays a and b horizontally.

**Problem 9**

Get the common items between a and b.

In [ ]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

**Problem 10**

From array a remove all items present in array b

In [ ]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

**Problem 11**

Get the positions where elements of a and b match

In [ ]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

**Problem 12** 

Get all items between 5 and 10 from a.

In [ ]:
a = np.array([2, 6, 1, 9, 10, 3, 27])

**Problem 13**

Swap columns 1 and 2 in the array arr.

In [ ]:
arr = np.arange(9).reshape(3,3)

**Problem 14**

Swap rows 1 and 2 in the array arr.

In [ ]:
arr = np.arange(9).reshape(3,3)

**Problem 15**

Reverse the rows of a 2D array arr.

In [ ]:
arr = np.arange(9).reshape(3,3)

**Problem 16**

Reverse the columns of a 2D array arr.

In [ ]:
arr = np.arange(9).reshape(3,3)

**Problem 17**

Create a 2D array of shape 5x3 to contain random decimal numbers between 5 and 10

**Problem 18**

Print or show only 3 decimal places of the numpy array rand_arr.